body {
  background-image: url('../src/assets/backgroundBond.jpeg');
  background-repeat: no-repeat;
  
  background-size: 100%;
  background-color: rgba(37, 37, 37, 0.829);
  background-blend-mode: darken;
}
